name: Build

on: 
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Test
      run: |
        docker build -t pytest-chrome -f tests/Dockerfile .
        docker run --shm-size=2g pytest-chrome
    
